:root {
    --clr-neon: hsl(275 86% 36%);
}

body {
    background: hsl(270, 25%, 5%);
}

.flexbox-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.clock {
    color: var(--clr-neon);
    font-size: 120px;
    font-family: 'Righteous', cursive;
    letter-spacing: 5px;
    margin: 12px;
}

.neon-button {
    position: relative;
    color: var(--clr-neon);
    text-shadow:
        0 0 0.125em hsl(0 0% 100% / 0.5),
        0 0 0.25em hsl(275 46% 44%),
        0 0 0.45em hsl(275 86% 36%);
}

.neon-button::before {
    content: "";
    position: absolute;
    background: var(--clr-neon);
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;

    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(0.375em);
}

@media screen and (max-width: 780px) {
    .flexbox-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .clock {
        font-size: 80px;
        margin: 5px;
    }
}